<div class="mainContainer">

    <div class="registracionForm" [ngSwitch]='viewMode'>

        <div class="formDiv" *ngSwitchCase="'showProductForm'">
            <mat-icon (click)="viewMode='hideProductForm'" class="closeFormWindow">
                keyboard_arrow_left</mat-icon>

            <h4 class="title">Add New Product
            </h4>

            <form>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>product code</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">

                        <mat-label>product name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>product unit price</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <button class="addBtn" mat-raised-button color="primary">Add Product</button>

            </form>
        </div>


        <div class="TruncatedRegistrForm" *ngSwitchCase="'hideProductForm'">
            <mat-icon class="openFormWindow" (click)="viewMode='showProductForm'"> keyboard_arrow_right</mat-icon>
        </div>

    </div>




    <div class="productList">


    </div>

</div>