<div class="mainContainer">

    <div class="registracionForm" [ngSwitch]='viewMode'>

        <div class="formDiv" *ngSwitchCase="'showProductForm'">
            <mat-icon (click)="viewMode='hideProductForm'" class="closeFormWindow">
                keyboard_arrow_left</mat-icon>

            <h5 class="title">Add New Product
            </h5>

            <form class='form' (ngSubmit)="addNewProduct()" [formGroup]="newProductForm">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>product code</mat-label>
                        <input matInput formControlName="productCode">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>product name</mat-label>
                        <input matInput formControlName="productName">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>product unit price</mat-label>
                        <input matInput formControlName="productUnitPrice">
                    </mat-form-field>
                </div>
                <!-- ღილაკის დისეიბლი -->
                <!-- [disabled]='newProductForm.invalid'  -->
                <button class="addBtn" mat-raised-button color="primary">Add Product</button>

            </form>
        </div>


        <div class="TruncatedForm" *ngSwitchCase="'hideProductForm'">
            <mat-icon class="openFormWindow" (click)="viewMode='showProductForm'"> keyboard_arrow_right</mat-icon>
        </div>

    </div>




    <div  *ngIf='returnProductsForView(products)' class="listDiv">
        <div class="productsDiv" *ngFor='let product of returnProductsForView(products)'>
            <div><span>
                    <h6 class="innerTitle">ID</h6>
                    <h4 class="innerText">{{product.id}}</h4>
                </span></div>
            <div><span>
                    <h6 class="innerTitle">Product Name</h6>
                    <h4 class="innerText">{{product.productName}}</h4>
                </span></div>
            <div><span>
                    <h6 class="innerTitle">Product Code</h6>
                    <h4 class="innerText">{{product.productCode}}</h4>
                </span></div>
            <div><span>
                    <h6 class="innerTitle">Unit Price</h6>
                    <h4 class="innerText">{{product.productUnitPrice}}</h4>
                </span></div>


        </div>





        <ng-container >
            <mat-icon  class="backPage" (click)="backFiveItems()"  [hidden]="back" >skip_previous</mat-icon>
            <mat-icon class="nextPage" (click)="returnNextFiveItems()" [hidden]="next">skip_next</mat-icon>
        </ng-container>
        
    </div >





</div>