<div class="navbarContainer">
    <div class="routerLinksContainer">
        <a [routerLink]="['/add-new-product']" routerLinkActive="router-link-active">Add new product</a>
        <a [routerLink]="['/sales']" routerLinkActive="router-link-active">Sales</a>
        <a [routerLink]="['/bonus']" routerLinkActive="router-link-active">Bonus</a>
        <a [routerLink]="['/distributor-list']" routerLinkActive="router-link-active">Distributors</a>

        <span class="signUp">
            <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign up</a>
        </span>

    </div>
</div>