.navbarContainer{
    width: 100%;
    box-shadow: 0 3px 15px rgba(78, 76, 76, 0.23);
    position: sticky;
    z-index: 1;
    top: 0px;
    position: fixed;
}
.routerLinksContainer{
    background-color: white;
    padding: 30px;
}
a{
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-left: 20px;
    
}
a:hover{
    text-decoration: underline;
}
.router-link-active{
    text-decoration: underline;
}
.signUp{
    float:right;
    margin-right: 20px;

}