<div class="mainContainer">

    <div class="registracionForm" [ngSwitch]='viewMode'>

        <div class="formDiv" *ngSwitchCase="'showProductForm'">
            <mat-icon (click)="viewMode='hideProductForm'" class="closeFormWindow">
                keyboard_arrow_left</mat-icon>

            <h5 class="title">Add Your Sales
            </h5>

            <form (ngSubmit)="addSoldProduct()" class="form" [formGroup]="soldProductForm">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Distributor ID</mat-label>
                        <input matInput formControlName="distributorID">
                    </mat-form-field>
                </div>
                <div>

                    <mat-form-field appearance="fill">
                        <mat-label>Choose a Sale date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="saleDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>


                <span class="productNameSpan">
                    <mat-form-field appearance="fill">
                        <mat-label>Product Names </mat-label>
                        <mat-select (selectionChange)="inputName($event)">
                            <mat-option *ngFor='let names of returnSortedProductNameList(productNamesAndCodes)'
                                [value]="names.productName">
                                {{names.productName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Product Codes </mat-label>
                        <mat-select (selectionChange)="inputCode($event)">
                            <mat-option *ngFor='let codes of returnSortedProductCodeList(productNamesAndCodes)'
                                [value]="codes.id">
                                {{codes.productCode}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                </span>


                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="soldProductQuantity">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>unit price</mat-label>
                        <input matInput formControlName="soldProductUnitPrice">
                    </mat-form-field>
                </div>
                <button class="addBtn" mat-raised-button color="primary">Add Sales</button>

            </form>
        </div>


        <div class="TruncatedForm" *ngSwitchCase="'hideProductForm'">
            <mat-icon class="openFormWindow" (click)="viewMode='showProductForm'"> keyboard_arrow_right</mat-icon>
        </div>

    </div>



    <div class="listDiv">

        <h6 class='notDataTitle' [hidden]="notData">ჩანაწერი არ მოიძებნა</h6>
        <div class="productsDiv" *ngFor='let products of returnSoldProductList(soldProducts)'>
            <div><span>
                    <h6 class="innerTitle">ID</h6>
                    <h6 class="innerText">{{products.id}}</h6>
                </span></div>
            <div><span>
                    <h6 class="innerTitle">Distr ID</h6>
                    <h6 class="innerText">{{products.distributorID}}</h6>
                </span></div>
            <div><span>
                    <h6 class="innerTitle">Sale Date</h6>
                    <h6 class="innerText">{{products.saleDate|date}}</h6>
                </span></div>

            <div> <span>
                    <h6 class="innerTitle">Product Name</h6>
                    <h6 class="innerText">{{products.soldProductName}}</h6>
                </span></div>
            <div> <span>
                    <h6 class="innerTitle">Product Code</h6>
                    <h6 class="innerText">{{products.soldProductCode}}</h6>
                </span></div>
            <div> <span>
                    <h6 class="innerTitle">QTY</h6>
                    <h6 class="innerText">{{products.soldProductQuantity}}</h6>
                </span></div>
            <div> <span>

                    <h6 class="innerTitle">Unit Price</h6>
                    <h6 class="innerText">{{products.soldProductUnitPrice}}</h6>
                </span></div>

            <div> <span>
                    <h6 class="innerTitle">Total Price</h6>
                    <h6 class="innerText">{{products.soldProductTotalPrice}}</h6>
                </span></div>





        </div>

    </div>


    <div class='searchDiv' [ngSwitch]="viewModeSearch">
        <div class="formDiv" *ngSwitchCase="'showSearchForm'">
            <mat-icon (click)="viewModeSearch='hideSearchtForm'" class="closeSearchWindow">
                keyboard_arrow_right</mat-icon>

            <h5 class="title">Search
            </h5>
            <form class="form" (ngSubmit)="searchItems()" [formGroup]="searchForm">
                <div >
                    <input type="text" class="form-control" formControlName="distributorID"
                        placeholder="Distributor ID">
                </div>
                <div >
                    <input type="text" class="form-control" formControlName="productName" placeholder="Product Name">
                </div>


                <div>
                <mat-form-field appearance="fill">
                    <mat-label>Choose A Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="salesDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>
                <button class="addBtn" mat-raised-button color="primary">Search</button>


            </form>


        </div>


        <div class="TruncatedForm" *ngSwitchCase="'hideSearchtForm'">
            <mat-icon class="openFormWindow" (click)="viewModeSearch='showSearchForm'">search</mat-icon>
        </div>
    </div>



</div>