
.signUpForm input,.signUpForm .mat-form-field,.signUpForm .mat-radio-group,.signUpForm .mat-checkbox {
  width: 60%;
  float:right;

    }
    .signUpForm label{
        float:left;
        width: 100%;
        padding: 10px;
    }

    h5{
        padding: 10px 0px 10px 0px;
        margin:0px 10px 0px 10px;
        border-bottom: 1px solid rgb(0, 132, 255);  
    }
.contactTypes{
    margin-top: 10px;
}